
.cabecalho, .botoes, .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cabecalho {
    padding: 20px;
    background-color: rgb(43, 51, 51);
}

.logo{
        font-size: 25px;
        font-weight: bold;
        color: white;
        text-decoration: none;
}

.botao-Evento, .botao-login, .item {
    padding: 0px 10px;
}

.item {
    font-size: 15px;
    text-decoration: underline;
    color: white;
    text-decoration: none;
}

.item :hover {
    cursor: pointer;
}

button {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}

.botao-Evento button{
    background-color: rgb(118, 134, 134);
    color: white;
}
